* {
  margin: 0;
  overflow-x: hidden;
  font-family: "Raleway";
}

.navbar {
  background-color: transparent;
  position: relative;
  z-index: 20;
  color: white;
  text-align: center;
  margin: 2rem;
}

nav li {
  display: inline;
  padding-right: 1rem;
}

nav li > a:link {
  color: white;
  text-decoration: none;
}

nav li > a:visited {
  color: white;
  text-decoration: none;
}

nav li > a:hover {
  color: rgba(108, 189, 239, 0.792);
  text-decoration: none;
}

nav li > a:active {
  color: white;
  text-decoration: none;
}

#hero {
  width: 100vw;
  height: 96vh;
}

#hero::after {
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  top: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
}

#hero video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  object-fit: cover;
}

.hero-text {
  position: relative;
  color: #fff;
  padding: 2% 15%;
  z-index: 20;
  top: 25rem;
  bottom: 0;
  left: 20rem;
  right: 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.hero-text > h2 {
  padding: 2% 0%;
}

.decor {
  background-image: url(../hero.jpg);
  width: 100%;
  object-fit: cover;
  margin-bottom: 5%;
}

.decor-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  backdrop-filter: blur(2px);
  color: white;
  background-color: rgba(199, 179, 179, 0.557);
  border-radius: 2%;
  padding: 3%;
  margin: 18%;
}

.decor-text h2 {
  padding: 2%;
}

.shop {
  cursor: pointer;
  background: none;
  background-color: #4f322896;
  text-transform: uppercase;
  font-size: large;
}

#bs {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 5%;
}

.pop-items {
  /* background-color: #dbac7e; */
  background-image: url(/snowflake.jpg);
  margin-bottom: 2%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.column {
  flex: 1;
}

#a {
  flex-grow: 2;
}

#b {
  flex-grow: 2;
}

.column img {
  vertical-align: middle;
  width: 100%;
}

#bell {
  margin: 5%;
}

#bell img {
  padding-left: 4px;
  padding-right: 0;
  margin-top: 5%;
}

#hands img {
  padding-right: 4px;
  padding-left: 0;
}

#hands {
  margin: 5%;
}

#gb {
  margin: 5%;
}

#gb img {
  padding-left: 4px;
  padding-right: 0;
  padding-top: 13%;
}

#text1 {
  margin-top: 16%;
}

.img-text {
  display: flex;
  padding: 4rem;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  color: white;
  backdrop-filter: blur(5px);
}



footer {
  background-color: #000000;
  color: white;
}

.footer-container {
  display: flex;
  /* flex-grow: 1; */
  padding: 2%;
  /* margin-right: 5%; */
  flex-direction: row;
  /* flex-wrap: no-wrap; */
  justify-content: space-between;
}

footer img {
  display: inline;
  margin: 2% 15%;
}

footer ul {
  padding: 0;
}

footer li {
  text-decoration: underline;
  padding: 4%;
  /* margin-right: 2%; */
}


footer li > a:link {
  color: white;
}

footer li > a:visited {
  color: white;
}

footer li > a:hover {
  color: rgba(108, 189, 239, 0.792);
}

footer li > a:active {
  color: white;
}

.copyright {
  text-align: center;
  margin-bottom: 1rem;
}

/* //////////////////////////////////////// */

@media screen and (max-width: 800px) {
  .hero-text{
    width: 225px;
    padding: 0;
    left: 12rem;
  }
  
  #text1{
    padding: 0.5rem;
  }
  #text2{
    padding: 0.5rem;
  }

  #text3{
    padding: 0.5rem;
  }
  
  footer ul{    
    height: 100px;
    width: 100px;
  }

  #right {
    width: 30rem;
    height: 5rem;
  }

  footer img {
    margin: 2%;
  }
}

@media screen and (min-width: 1440px) {
  /* 788 */
  .decor-text{
    padding: 1%;
  }

  .footer-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin-right: 5%;
  }

  footer ul{    
    height: 100px;
    width: 100px;
    margin-left: 3%;
  }
}
